<%- include('../../partials/hade.ejs') %>

    <div class="container main mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="display-4 text-center">Internal Server Error 500</h4>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>
        </body>

        </html>