<div id="sideBar" style="height:100%;">
    <div class="card">
        <div class="list-group">
            <li class="list-group-item">
                <a href="/dashbord">Dashbord</a>
            </li>
            <li class="list-group-item">
                <a href="/dashbord/edit-profile">Edit Profile</a>
            </li>
            <li class="list-group-item">
                <a href="/posts/create">Create New Post</a>
            </li>
            <li class="list-group-item">
                <a href="/posts">My Posts</a>
            </li>
            <li class="list-group-item">
                <a href="/dashbord/bookmarks">Bookmark Posts</a>
            </li>
            <li class="list-group-item">
                <a href="/dashbord/comments">Comments</a>
            </li>
            <li class="list-group-item">
                <a href="/auth/change-password">Change Password</a>
            </li>
        </div>
    </div>
</div>